body, html {
    height: 100%;
    margin: 0;
    font: 15px 'Muli', sans-serif;
    color: #777;
}
/* REUTILIZABLES */
ul{
    list-style: none;
}
/* PARALLAX */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1{
    background-image: url(../assets/img/img4.jpeg);
    min-height: 100%;
}
.bgimg-2{
    background-image: url(../assets/img/img6.jpeg);
    min-height: 400px;
}
.bgimg-3{
    background-image: url(../assets/img/img3.jpeg);
    min-height: 400px;
}
@keyframes fadeIn{
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    opacity: 0;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-size:25px;
    color: #f7f7f7;
}
.bgimg-2 .caption{
    top: 43%;
}
@media (min-width: 768px){
    .navbar-collapse{
        float: right;
    }
    .navbar{
        position: fixed;
        z-index: 5;
    }
}
@media (max-width: 768px){
    .caption{
        top: 40%;
    }
    .caption span.border {
        padding: 10px;
        font-size: 16px;
    }
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px 'Muli', sans-serif;
    color: #111;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 350px;
    }

}
/* NAVBAR */
.navbar{
    /*position: absolute;*/
    top: 0;
    width: 100%;
    z-index: 30;
    background: 0 0;
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}
.navbar-default .navbar-nav>li>a>i{
    margin-right: 10px;
}
.navbar-default{
    margin: 0;
    background-color: rgb(147, 119, 110);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #404040;
}
.navbar-default {
    border: none;
}
/* SOCIAL */
.cont-social{
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
}
.cont-social li{
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    position: relative;
    top: 0;
    width: 5.35em;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 20px;
}
.cont-social li > a{
    text-decoration: none;
}
/* COLORS ICONS */
.linkedin:hover{
    background-color: #0077B5;
}
.github:hover{
    background-color: #24292e;
}
.facebook:hover{
    background-color: #3b5998;
}
.twitter:hover{
    background-color: #55acee;
}
.icon-linkedin2, 
.icon-github,
.icon-facebook,
.icon-twitter{
    font-size: 30px;
    color: white;
}

.cont-social a:active, a:hover {
    outline: none;
    text-decoration: none;
    color: white;
}
/* ABOUT ME */
.cont-aboutme{
    color: white;
    background-color: #797775;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    min-height: 500px;
}
.cont-aboutme h3{
    margin-top: 50px;
    margin-bottom: 40px;
    color: wheat;
    font-weight: 700;
}
.cont-imgaboutme{
    width: 50%;
}
.cont-imgaboutme img{
    border-radius: 50%;
    border: 3px solid white;
}
.cont-reconocimientos img{
    width: 150px;
    padding-top: 20px;
    margin-right: 20px;
    transition: all .25s ease;
}
.cont-reconocimientos img:hover{
    transform: rotate(360deg);
}
@media (max-width: 768px){
    .cont-aboutme{
        padding: 20px;
    }
    .cont-aboutme p{
        margin-top: 20px;
    }
    .cont-reconocimientos{
        text-align: center;
    }
    .cont-reconocimientos img{
        width: 50px;
        margin-top: 10px;
        margin: 0;
    }
}
.cont-skills .img-responsive{
    width: 50px;
}
.cont-skills{
    background-color: rgba(40, 46, 52, 0.08);
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}
.cont-portfolio .img-responsive{
    width: 400px;
    height: 200px;
}
.cont-portfolio img:hover{
    transform: scale(1.1);
    transition: all .5s;
}
@media (max-width: 768px){
    .cont-portfolio{
        min-height: 731px;
    }
    .cont-proyects{
        padding: 20px !important;
    }
    .cont-portfolio img{
        margin-top: 20px;
        width: 20px;
    }
}
footer{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}