@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a3gi2g');
  src:  url('fonts/icomoon.eot?a3gi2g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a3gi2g') format('truetype'),
    url('fonts/icomoon.woff?a3gi2g') format('woff'),
    url('fonts/icomoon.svg?a3gi2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-embed:before {
  content: "\ea7f";
}
